h1 {
    width:800px;
    margin: 0 auto;
    background: white;
    text-align: center;
    

}


h3 {
    width:600px;
    margin: 0 left;
    background: white;
    text-align: right center;
    line-height: 60px;
}
html { 
    background: url() no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }